<footer>
    <div class="footer-container">
        <p id="footer-header-text">
            A project dedicated to the use of various technologies and PHP frameworks</p>
        <p id="footer-year-text">@2024</p>
    </div>
</footer>