<header>
    <nav>
        <div class="menu-container">
            <ul class="menu-buttons">
                <li class="menu-btn"><a href="/">Homepage</a></li>
                <li class="menu-btn"><a href="/cookies-example">Cookies</a></li>
                <li class="menu-btn"><a href="/sessions-example">Sessions</a></li>
            </ul>
        </div>
    </nav>
</header>